<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <% if ENV['SENTRY_URL'] %>
      <script type='application/javascript' src='<%= asset_path('raven.js') %>'></script>
      <script type='application/javascript' src='<%= asset_path('raven_config.js') %>'></script>
    <% end %>
    <script type='application/javascript' src='<%= asset_path('contacts_service.js') %>'></script>
  </body>
</html>
